body {
    font-family: "Hanken Grotesk", serif;
}

/* Title Section */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #f3ede5;
}

#title h1 {
    font-size: 100px;
}

#title h4 {
    font-size: 40px;
}


.box {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.box-1:hover, .box-2:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.about-image img {
    width: 250px;
    height: auto;
    max-width: 100%;
}

/* About Me Section */

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden; 
}

#about-me .container {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);;
    padding: 30px;
    border-radius: 8px;
}

#about-me, #tech-stack, #projects {
    background-color: #f8f9fa;
    padding: 50px 0;
}

/* Skills Section */
#skills {
    background-color: #f3ede5;
    box-shadow: 0px 6px 15px rgba(120, 110, 100, 0.5);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Project Section */
#projects .img-fluid {
    object-fit: cover;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-tag {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.card .btn {
    width: 40px;
    min-width: 120px;
}


/* Footer Section */
footer {
    background-color: #f3ede5;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.bi {
    color: black;
    font-size: 1.5rem;
}


/* Media queries */
@media (max-width: 768px) {
.project-image {
    display: none;
}

#title h1 {
    font-size: 5rem;
}

#title h4 {
    font-size: 2rem;
}

#about-me {
    flex-direction: column;
    padding: 20px;
}

.box {
    padding: 8px;
    margin: 8px;
}

.about-image img {
    width: 200px;
}

.skill-tag {
    font-size: 12px;
    margin-bottom: 10px;
}

footer {
    height: auto; 
    padding: 20px;
}

footer .bi {
    font-size: 1.2rem; 
}

/* #software-engineer, #problem-solving, #bootcamp, #web-apps, #new-tech, #refining-skills, #contact-highlight {
    display: none !important;
} */

@media (min-width: 769px) and (max-width: 992px) {
    .box {
        padding: 12px;
        margin: 12px;
    }
}
}

@media (max-width: 768px) {
    .annotated {
      text-decoration: none;
      background: none;
    }
  }