/* nav {
    background-color: #f4f1eb;
    box-shadow: 10px 5px 5px gray;
} */

body {
    font-family: "Hanken Grotesk", serif;
}

/*  <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .hanken-grotesk{
  font-family: "Hanken Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */


#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #f3ede5;
}

#title h1 {
    font-size: 100px;
}

#title h4 {
    font-size: 40px;
}


.box-1 {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.box-2 {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.box:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.about-image img {
    width: 250px;
    height: auto;
    max-width: 100%;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden; /* prevents scrolling issues */
}

#about-me .container {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);;
    padding: 30px;
    border-radius: 8px;
}

#about-me, #tech-stack, #projects {
    background-color: #f8f9fa;
    padding: 50px 0;
}

/* #about-me, #projects {
    padding: 50px 0;
} */

#skills {
    background-color: #f3ede5;
    box-shadow: 0px 6px 15px rgba(120, 110, 100, 0.5);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #f3ede5;
}